<?xml version="1.0"?>
<ruleset name="Cryptex">
    <description>Coding standard for the Cryptex library.</description>

    <file>src</file>
    <file>tests</file>
    <file>tools</file>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>

    <rule ref="PSR12"/>
</ruleset>
